@* Views/GioHang/GioHangPartial.cshtml *@
@{
    List<WebBangDiaNhac.Models.GioHang> lstGioHang = Session["GIOHANG"] as List<WebBangDiaNhac.Models.GioHang>;

    ViewBag.TongSoLuong = lstGioHang?.Sum(n => n.soLuong) ?? 0;
    ViewBag.TongTien = lstGioHang?.Sum(n => n.thanhTien) ?? 0;
}

<div class="cart-btn text-right">
    <a href="@Url.Action("GioHang", "GioHang")" class="header-cart" style="display: flex; align-items: center;">
        <i class="fa fa-shopping-cart" style="color: darkred; font-size: 22px; margin-right: 10px;"></i>
        <div style="border-left: 1px solid #444; padding-left: 10px;">
            <div style="font-style: italic; font-weight: bold;">Giỏ hàng</div>
            <div>@ViewBag.TongSoLuong Sản phẩm @String.Format("{0:#,##0}đ", ViewBag.TongTien)</div>
        </div>
    </a>
</div>
